*{
    font-family: netflix sans;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width:100%;
    height:60px;
    border-bottom: 1px solid black;;
    margin: 0;
}
li{
    list-style: none;
}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 25px;
}
.nav-list button{
    padding:10px 20px;
    border-radius: 10px;
    background-color: #0057FF;
    color: white;
    border: none;
}
.sidebar{
    width: 200px;
    height: 100%;
    border:none;
    background-color: rgb(226, 234, 234);
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    display: none;
    transition: all 0.5s ease-in-out;
}   
a{
    text-decoration: none;
    color:black
}
#menu{
    display: none;
}

@media (max-width:800px){
    .hide{
        display: none;
    }
    #menu{
        display: block;
    }
}

@media (max-width:400px){
    .sidebar{
        width: 100%;
    }
    .sidebar li{
        margin-left: 25px;
    }
    .sidebar i{
        margin-left: 25px;
    }
    .name{
        visibility: hidden;
    }
}